# Global/default mirrors
IMAGE_NAME=ai-detector-web:latest
APT_MIRROR=http://deb.debian.org/debian
APT_SECURITY_MIRROR=http://security.debian.org/debian-security
PIP_INDEX_URL=https://pypi.org/simple
PIP_TRUSTED_HOST=
